@import 'main-stylesheet.scss';

.centered-content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: $black-transparant;
}

.event-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7em 0 2em 0;

    h2 {
        font-size: 3.5em;
        color: $red;
        font-weight: 400;
    }
    p {
        color: $white;
        font-size: 1.5em;
        margin: 1em 0;
    }
}

.image-and-content-block {
    display: flex;
    margin: 2em 0;

    img {
        width: 35vw;
    }
    .location-information-block {
        background-color: $blue-transparant;
        padding: 2em;
        color: $white;

        h2 {
            color: $yellow;
            font-size: 2em;
            font-weight: 400;
        }
        .location-address {
            margin: 2em 0;
        }
        p {
            line-height: 1.3em;
        }
    }
}

